@keyframes spinner {
  to {transform: rotate(360deg);}
}

.speech-recognition-overlay-content {

	text-align: center;

	.overlay-box {
		display: inline-block;
		border: 1px solid grey;
		border-radius: 50%;
	}

	.spinner {
		animation: spinner .8s linear infinite;
	}
}
